@import-normalize;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: #FBFCFD;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  margin: 0 auto 0;
  max-width: 1170px;
  width: 100%;
}

.container * {
  box-sizing: border-box;
}

.row:before, .row:after {
  clear: both;
  content: "";
  display: table;
}

[class^="col-"] {
  float: left;
  min-height: 1px;
  padding: 8px 12px;
  width: 8.333333%;
}

/* http://j4n.co/blog/Creating-your-own-css-grid-system */
.col-1  { width: 8.333333%;   }
.col-2  { width: 16.666666%;  }
.col-3  { width: 25%;         }
.col-4  { width: 33.333333%;  }
.col-5  { width: 41.666666%;  }
.col-6  { width: 50%;         }
.col-7  { width: 58.333333%;  }
.col-8  { width: 66.666666%;  }
.col-9  { width: 75%;         }
.col-10 { width: 83.333333%;  }
.col-11 { width: 91.666666%;  }
.col-12 { width: 100%;        }

.col-push-1 { margin-left: 8.333333%;  }
.col-push-2 { margin-left: 16.666666%; }
.col-push-3 { margin-left: 25%;        }

h1 {
  
}

.logo {
  margin: 40px 0;
  text-align: center;
}

.logo img {
  height: 100px;
}

h3 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0.67em 0;
}

h4 {
  font-size: 1.2em;
}

p {
  line-height: 1.8;
}

.center {
  text-align: center;
}

.App-header {

}

.city {
  margin-top: 50px;
  width: 600px;
}

.info-block {
  background: #D3DFFF;
  color: #24486E;
  margin-top: -13px;
  padding: 16px 0 32px;
}

.info-block a,
.info-block a:visited {
  color: #3050FE;
  font-weight: bold;
}

.info-block a:hover {
  color: #3050FE;
  text-decoration: none;
}


input[type="text"], input[type="tel"] {
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  font-size: 16px;
  line-height: 28px;
  padding: 4px 8px;
}

.input-center {
  text-align: center;
}

.storeAddress {
  padding-left: 24px;
}

.btn {
  background: #3050FE;
  border: thin solid #3050FE;
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  margin-right: 4px;
  margin-bottom: 8px;
  min-width: 100px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background: #1935C9;
  border-color: #1935C9 ;
  cursor: pointer;
}

.btn:active, .btn:focus {
  border-radius: 6px;
}

.btn-ghost {
  background: #EAEEF9;
  border: thin solid #EAEEF9;
  border-radius: 6px;
  color: #594D7A;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  margin-right: 4px;
  margin-bottom: 8px;
  min-width: 100px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none;
}

.btn-ghost:hover {
  background: #D5DEEA;
  border-color: #D5DEEA ;
  cursor: pointer;
}

.btn-ghost:active, .btn-ghost:focus {
  border-radius: 6px;
}

footer {
  margin: 100px 0 50px;
}

footer .container [class^="col-"] {
  border-top: thin solid #ddd;
  color: #594D7A;
  font-size: .75em;
  padding: 50px 12px;
}

@media only screen 
and (max-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)  { 
  
  .logo {
    margin: 20px 0;
  }
  
  .logo img {
    height: 50px;
  }
  
  h1 {
    font-size: 1.4em;
    top: 0;
  }
  h2 {
    font-size: 1.2em;
    margin: .5em 0;
  }
  h3 {
    font-size: 1.1em;
    line-height: 1.5;
    margin: .5em 0;
  }
  p {
    font-size: 1em;
    line-height: 1.5;
    margin: .5em 0;
  }
  
  .city {
    width: 100%;
  }
  
  .info-block {
    margin-top: -10px;
  }
  
  .col-1  { width: 100%;  }
  .col-2  { width: 100%;  }
  .col-3  { width: 100%;  }
  .col-4  { width: 100%;  }
  .col-5  { width: 100%;  }
  .col-6  { width: 100%;  }
  .col-7  { width: 100%;  }
  .col-8  { width: 100%;  }
  .col-9  { width: 100%;  }
  .col-10 { width: 100%;  }
  .col-11 { width: 100%;  }
  .col-12 { width: 100%;  }

  .col-push-1 { margin-left: 0; }
  .col-push-2 { margin-left: 0; }
  .col-push-3 { margin-left: 0; }
  
  input[type="text"], input[type="tel"] {
    width: 60%;
    font-size: 1.25em;
    margin-top: 10px;
  }

}
