@import-normalize;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
               'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
               sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"], input[type="tel"] {
  border: 2px solid #AAA;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)  { 
  input[type="text"], input[type="tel"] {
    width: 140px;
    font-size: 1.25em;
  }

  input[type="submit"], button {
    height: 50px;
    font-size: 1.25em;
    border-radius: 0;
    background-color: #EEE;
  }
}
