ol.storeList {
  padding-left: 0;

  li {
    list-style-type: none;
    border: 2px solid #CCC;
    padding: 12px;
    max-width: 600px;

    &:not(:last-child) {
      border-bottom: none;
    }

    label {
      > span {
        // GOTCHA: padding again !!!
        padding: 15px;

        &.disabled {
          opacity: .5;
        }
      }
    }
  }
}

.form {
  td:first-child {
    white-space: nowrap;
  }
  
  .validField {
    border-radius: 1.5px;
    border: 2px solid limegreen;
    outline-color: limegreen;
  }

  .validMessage {
    color: limegreen;
  }

  .invalidField {
    border-radius: 1.5px;
    border: 2px solid red;
    outline-color: red;
  }

  .invalidMessage {
    color: red;
  }
}

